doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  body
    header 
        nav.navbar.navbar-default
            .container-fluid
            .navbar-header
                a.navbar-brand(href='/') My App
            ul.nav.navbar-nav
                li
                a(href='/') Home
                li
                a(href='/about') About
                if user 
                    li
                    a(href='/logout') Logout
                else
                    li
                    a(href='/login') Login
                li
                a(href='/contact') Contact
    block content
        if message 
            .alert(class=`alert ${message.type}`)= message.message
    footer
        p &copy; 2023 My Pug App